<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Navbar</title>
    <style>
      /* Internal CSS starts here */
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      .navbar {
        background-color: #333;
        overflow: hidden;
      }

      .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }

      /* Internal CSS ends here */
    </style>
  </head>

  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="#services">Services</a>
      <a href="/contact">Contact</a>
    </div>

    <h2>Welcome to home</h2>
    <form action="">
      <input type="text" name="" id="" placeholder="Enter name" />
      <br /><br />
      <input type="password" name="" id="" />
      <br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
